<title>Login / World Exchangers</title>
      <img class="postLogo" src="/images/we_logo_round_mxkchc.png" alt="">
<div class="container-pop">
<form action="/auth/login" method="POST">
<br><br>
      <label> Username <br>
      <input    class="rounded-input border-customized-input" type="text" name="username">
   </label><br>
   <label> Password <br>
      <input    class="rounded-input border-customized-input" type="password" name="password">
   </label>
<br>
   <button class="btn-right" type="submit">Submit</button>
</form>

Dont't have an account? <a href="/auth/signUp">Sign up</a>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>