<title>Sign Up / Step 1 / World Exchangers</title>
<div class="container">
<form action="/auth/signup" method="POST">
<br>
   <h2>Sign Up</h2>
   <h3>Step 1 out of 2</h3>
      <label for="role"> Are you an exchange student or organization?
      <select name="role" class="form-label">
         <option value="USER">Student</option>
         <option value="ORG">Organization</option>
      </select>
   </label><br>
   <label> First Name
      <input type="text" name="first_name" required>
   </label><br>
      <label> Username
      <input type="text" name="username">
   </label><br>
      <label>Email
    <input type="email" name="email" />
  </label><br>

      <label> Password
      <input type="password" name="password">
   </label>
<br>
   <button type="submit">Next</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>