<title>Searching countries</title>

<div class="container vertical">

<main class="cards">
            {{#each countries}}
    <a href="/country/{{id}}">
  <article class="card">
    <img src="{{flags.png}}" alt="">
    <div class="text">
      <h3>{{name.common}}</h3>
    </div>
  </article></a>
          {{/each}}
  </main></div>