:root {
  --color-bg: #202d36;
  --color-bg-secondary: #2B3743;
  --color-text: #ffffff;
  --color-anchor: #aae9f0;
  --color-anchor-hover: #44A3AD;
  --color-btn-right: #44A3AD;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p,b,a, input, enum {
  
  font-family: 'Nunito Sans', sans-serif;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 50px;
  font: 20px "Nunito Sans", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}


a {
  color: var(--color-anchor);
    text-decoration: none;

}

a:hover{
  color: var(--color-anchor-hover);
    text-decoration: none;
}

.container {
width: 50%;
margin-left: auto;
margin-right: auto;
}

.headerIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: #eee 2px solid;
}

/* LANDING */
.homeBg {
  background:  url(/images/bgflags.png) no-repeat center center fixed; 
  background-blend-mode: multiply;
  background-color: var(--color-bg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center div {
  background-color: #ffffff96;
  width: 600px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.flex-container {
  display: flex;
  height: 100%;
}

.flex-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 5%;
}

.landingLogo {
  display: flex;
  width: 150;
  height: 150;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  margin-bottom: -8%;
  border: white solid 4px;
  border-radius: 50%;
  box-shadow: 1px 2px 4px rgba(0,0,0,.1);
}

.whiteBG {
background-color: rgba(255, 255, 255, 0.747);
color: black;
border-radius: 10px;
padding: 14px;
box-shadow: 1px 2px 4px rgba(0,0,0,.1);
padding: 5%;
display: flex;
  border: white solid 4px;
justify-content: center;
align-items: center;
flex-direction: column;
}
.btnCTA{
  background-color: #ff4742; 
  border: #ff4742;
  border: 4px solid;
  border-radius: 10px;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0,0,0,.1);
}

.btnCTA:hover{
    color: #ff4742;
    background-color: #ffffff; 
  border: #ff4742;
  border: 4px solid;
  box-shadow: 1px 2px 4px rgba(0,0,0,.1);
}

.aCTA{
  color: white;
    text-decoration: none;
}
.aCTA:hover{
  color: #ff4742;
    text-decoration: none;
}

.flex-child > button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.flex-child:first-child {
  margin-right: 20px;
} 
.flex-child:last-child {
  margin-right: 20px;
  background-color: wheat;
} 

.landingIcons{
  flex-direction: row;
}

.landingIcons img {
  margin-right: -10px;
}

/* FORMS (SIGNUP LOGIN SIGNUPstep2)  */
.postLogo {
  display: flex;
  width: 100;
  height: 100;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  margin-bottom: -50;
  border: white solid 4px;
  border-radius: 50%;
}
.container-pop {
width: 50%;
margin-left: auto;
margin-right: auto;
border: white solid 4px;
background-color: var(--color-bg-secondary);
border-radius: 10px;
padding: 14px;
box-shadow: 1px 2px 4px rgba(0,0,0,.1);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

input[type=text] , input[type=email] , 
input[type=password],  input[type=file], input, select{
  font: 20px "Nunito Sans", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
    padding: 7px;
     margin:7px 0;
     width: 60%;
}

::file-selector-button {
   font: 20px "Nunito Sans", sans-serif;
  color: var(--color-bg);
  border-radius: 10px;
}

.signup-text-input {
  font: 20px "Nunito Sans", sans-serif;
  color: var(--color-text);
}

.border-customized-input {
    border-radius:10px;
   border: 2px solid #eee;
}
hr.dashed {
  border-top: 2px dashed var(--color-bg);
}

.btn-right {
  background-color: var(--color-btn-right); 
  border:  var(--color-btn-right); 
  color:    var(--color-text); 
  border: 2px solid;
  margin-top: 7px;
  border-radius: 10px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  float: right;
    font: 20px "Nunito Sans", sans-serif;
      cursor: pointer;
}
.btn-right:hover {
  background-color: var(--color-text); 
  border: var(--color-btn-right);
  color:    var(--color-btn-right);
  border: 2px solid;
}

/*HEADER*/
.navbar-content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header-icons {
    font-size:1em;
  color:grey;
  cursor:pointer;

}
.header-icons > ul{
  list-style: none;
    display: flex;
  justify-content: space-evenly;
}
.header-icons > li{
  float: right;
}

.header-icons:hover .fa-solid:before{
  color:var(--color-btn-right);
  opacity:0.4;
}

/* HOME */
.yellow-warning {
background-color: rgba(250, 239, 118, 0.747);
color: black;
border-radius: 10px;
padding: 14px;
box-shadow: 1px 2px 4px rgba(0,0,0,.1);
padding: 5%;
display: flex;
  border: rgb(220, 209, 1) solid 4px;
justify-content: center;
align-items: center;
flex-direction: column;
}

.flag-emoji {
  width: 2rem;
  height: 1.2rem;
  border: #eee 2px solid;
  border-radius: 5px;
}
.flag-emoji:hover {
  width: 2rem;
  height: 1.2rem;
  border: var(--color-anchor-hover) 2px solid;
  border-radius: 5px;
}

/* PROFILE  */
.flag-big {
  width: 4rem;
  height: 2.4rem;
  border: #eee 2px solid;
  border-radius: 5px;
}
.flag-big:hover {
  width: 4rem;
  height: 2.4rem;
  border: var(--color-anchor-hover)  2px solid;
  border-radius: 5px;
}

.vertical {
width: 50%;
margin-left: auto;
margin-right: auto;
border: white solid 4px;
background-color: var(--color-bg-secondary);
border-radius: 10px;
padding: 14px;
box-shadow: 1px 2px 4px rgba(0,0,0,.1);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.profile-logo {
  width: 100;
  height: 100;
  border: white solid 4px;
  border-radius: 50%;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  background-color: var(--color-bg);
  border-radius: 10px;
  padding: 10px;
}